# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# DVC — data files không commit lên Git
data/raw/*
data/processed/*
data/features/*
!data/raw/.gitkeep
!data/raw/*.dvc
!data/processed/.gitkeep
!data/features/.gitkeep
!.dvc/config
!.dvc

# MLflow
mlruns/
mlartifacts/

# Django
sleep_portal/staticfiles/
sleep_portal/media/
*.log
local_settings.py
db.sqlite3

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
